body {
    background-color: white ;
}
.card-custom1 {
    background-color: steelblue;
}
.card-custom2 {
    background-color: silver;
}
h1 {
    background-color: steelblue;
    text-align: center;
}
h4 {
    text-align: left;
}
.parent {
    border-style: solid;
    border-width: 1px;
}
.buttons {
    
}
.setting {
	display: block;
	justify-content: space-around;
	align-items: center;
    margin: 10px 0;
    text-align: center;
}

textarea {
    width: 700px;
    height: 150px;
    border-style: dashed;
}

input {
    width: 60px;
}